.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100vw;
  height: 100vh;
}

.form-box {
  grid-column: span 1;
  grid-row: span 1;
}

.canvas-box {
  grid-column: span 4;
  grid-row: span 3;
  border: 1px solid lightgrey;
}