.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 99vh;
}

.form-box {
  grid-column: 1/2;
  grid-row: 1/2;
}

.canvas-box {
  grid-column: 2/6;
  grid-row: 1/4;
}